* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Card */

.main-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-section {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
}

.content-section.active {
  display: flex;
  opacity: 1;
}

/* Card Section Layout */
.card-section {
  display: flex;
  justify-content: center;
  width: calc(100% - 268px); /* Account for navbar width */
  margin-left: 268px;
  padding: 20px;
  min-height: 100vh;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.page-content {
  margin-left: 268px; /* Adjust based on your navbar width */
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .page-content {
    margin-left: 0;
  }
}
